.about-container {
  color: #DEF0F7;
  padding-top: 5.5em;
}

#about-icon {
  font-size: 2rem;
  margin-right: 2rem;
  &:hover {
    color: #ff894f;
  }
}

.creator-img-container {
  
}

.creator-img {
  max-height: 15rem;
  height: 15rem;
  width: auto;
  margin-bottom: 2rem;
}

.center {
  justify-content: center;
}

.createdBy {
  display: flex;
  justify-content: space-evenly;
}

.creator-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.creators {
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
}

.creator-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  a {
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: #ff894f;
    }

    i {
      display: flex;
    justify-content: center;
    text-align: center;
    }
  }
}

#splash-icon {
  font-size: 2rem;
  margin: 1rem;
}

@media only screen and (max-width: 650px) {
  .createdBy {
    display: inline-block;
    justify-content: space-evenly;
  }

  .creator-container {
    display: inline-block;
    justify-content: center;
  }

  .creators {
    font-size: 1.25rem;
    display: inline;
    margin-right: .7rem;
  }

  .creator-links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  #creator-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #splash-icon {
    font-size: 2rem;
    margin: 1rem .5rem;
  }

  .discover-header {
    margin-bottom: 0rem;
  }
}