.responsive h1{
  color: #ff894f;
}

.responsive h1 strong{
  font-weight: bold;
}

.responsive h1{
  font-size: 30px;
}

.responsive {
  min-width: 00px;
  width: 100%;
  background-color: #0b3c4F;
  text-align: center;

  height: 100vh;
  font-family: "Helvetica Neue", sans-serif;
  padding: 90px 20px;
}

.splash-pg-button {
  background-color: #ff894f;
  /* display: block; */
  color: #333333;
  padding: 15px 80px;
  font-size: 18px;

}

.splash-pg-button:hover { 
  cursor: pointer;
}

.description{
  text-align: center;
  font-size: 14px;
  color: rgba(222, 240, 247, 0.7);
  padding: 0 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}